.addlink {
    background-color: #ff4500 !important; /* Change the background color */
    color: white !important; /* Change the text color */
    border-color: #ff4500 !important; /* Change the border color */
}